﻿@model MedicalAppointments.Domain.Date

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Date</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateInit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateInit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeInit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeInit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeEnd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
