﻿@model IEnumerable<MedicalAppointments.Domain.Date>

@{
    ViewBag.Title = "Index";
}

<h2>Dates</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateInit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeInit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeEnd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateInit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeInit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeEnd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DateId })
        </td>
    </tr>
}

</table>
