﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="color:blue">
    <center>
        <h1 style="color:black">Medical Appointments</h1>
    </center>
</div>

<div>
    <center>
        <img src="~/Resources/professi.jpg" alt="Doctors" style="width:400px;height:300px;">
    </center>
</div>